/*******************************************************************************
 *                                                                             *
 * Root					 				                       				   *
 *                                                                             *
 ******************************************************************************/
.root{
	
	-fx-text-base-color: white;
	/* Text defaults */
	-fx-font-family: 'Roboto Medium';
	-fx-disabled-opacity: 0.6;
	-fx-text-fill: -fx-text-base-color;
}
AnchorPane{
	-fx-background-color: gray;
}

/*******************************************************************************
 *                                                                             *
 * Table					 			                       				   *
 *                                                                             *
 ******************************************************************************/

TableView, .column-header,.filler, .show-hide-columns-button{
	-fx-background-color: gray;
}
.table-view .table-cell{
    -fx-border-color: darkgrey ; 
    -fx-border-width: 0.3px 0.0px 0.0px 0.0px;
}
.table-row-cell{
    -fx-background-color: gray;
}
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
   -fx-background-color: transparent ;
   -fx-opacity: 0.3;
}
.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0.0;
}



/*******************************************************************************
 *                                                                             *
 * Text, Text field & Text area                                                *
 *                                                                             *
 ******************************************************************************/
.text {
	-fx-font-smoothing-type: gray;
	-fx-fill: -fx-text-base-color;
}

/*******************************************************************************
 *                                                                             *
 * TabPane                                                                     *
 *                                                                             *
 ******************************************************************************/
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0.0;
}


.tab-pane{
    -fx-tab-min-width:90.0px;
}

.tab{
    -fx-background-insets: 0.0 1.0 0.0 1.0,0.0,0.0;
}
.tab-pane .tab{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}
/*******************************************************************************
 *                                                                             *
 * Text, Text field & Text area                                                *
 *                                                                             *
 ******************************************************************************/




	